$second-background-color: rgba(43, 47, 53, 0.993);
$text-color: rgb(219, 230, 236);
$primaryFont: "Indie Flower", Cursive;

body {
    background-color:  $second-background-color;

    color: $text-color;

    font-family: $primaryFont;

    text-align: center;

    
}

